*
{
    padding: 0px;
    margin: 0px;
}

#container
{
    border: 1px solid #200C74;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    background-color: #EDFFF0;
}

#container h3
{
    font-family: Arial;
    color: #4C4C4C;
}

.loginSection
{
    padding: 20px 10px;
    width: 400px;
    margin: 20px 0 0 0;
    border: 1px solid #909090;
    border-radius: 4px;
}

.loginSection p
{
    font: normal 12px calibri;
    color: #606060;
    margin-bottom: 10px;
}

.labels
{
    font: normal 16px calibri;
    color: #303030;
    margin-bottom: 10px;
}

.text
{
    font: bolder 12px verdana;
    color: #606060;
    padding: 5px;
    margin-bottom: 10px;
}

#btns
{
    border: 0px solid black;
    width: 366px;
    text-align: right;
    margin-top: 10px;
}

.btnLogin
{
    display: inline-block;
    height: 30px;
}

.errorMsg p
{
    font: normal 14px arial;
    color: Red;
    margin: 5px 0;
}

.lblLogoff
{
    font: bolder 14px arial;
    color: #606060;
}

.logedin
{
    margin: 20px 0 30px 0;
}

.btnLogout
{
    margin-top: 30px;
    width: 100px;
    height: 30px;
}
