*
{
    padding: 0px;
    margin: 0px;
}

#container
{
    border: 1px solid #200C74;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    background-color: #EDFFF0;
}

#container h3
{
    font-family: Arial;
    color: #4C4C4C;
}

#orderSection
{
    margin: 20px 0 0 0;
    border: 1px solid #909090;
    border-radius: 6px;
    padding: 10px;
}

.doOrder p, .doLogin p
{
    font: normal 14px verdana;
    color: #303030;
    margin: 20px 0 10px 0;
}